@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Open+Sans:wght@300;400;500&display=swap");
a {
    color: black;
}

.brand-logo {
    font-family: "Grand Hotel", cursive;
}

.my-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 450px;
}

.input-field input[type=text]:focus{
    border-bottom: 1px solid rgba(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.form-bottom-link{
    text-align: right;
}

#toast-container{
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}