.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-card-wrapper {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.home .card-image {
    width: 200px;
    height: 100px;
}
